@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$buttonColor;
        transition: all .5s ease;

        &:hover {
            background-color: variables.$hover;
            box-shadow:  5px 4px 10px variables.$shadow;
            transition: all .2s ease;
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        justify-content: center;
    }

    @media (max-width:1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}